{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<style>
    #kontener{
        position: relative;
        top: 75px;
    }
</style>
    <div class="container" id="kontener">
        <p>
        {{ 'resetting.check_email'|trans({'%email%': email}) }}
        </p>
        <p>Proszę sprawdzić spam folder</p>
        <p><a href="{{ path('StronaGlowna') }}" class="text-center new-account">Wróć na stronę główną</a></p>
    </div>
{% endblock %}
