{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<style>
    #kontener{
        position: relative;
        top: 75px;
    }
</style>
    <div class="container" id="kontener">

            <p>{{ 'resetting.password_already_requested'|trans }}</p>
    </div>

{% endblock fos_user_content %}
